*.gcda
*.gcno
*.gcov
*.lo
*.log
*.o
*.trs
.deps
.gdbinit
.libs
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
missing
