Makefile.in
Makefile
configure
.deps
.libs
aclocal.m4
ar-lib
autom4te.cache/
*.o
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure.lineno
*.log
depcomp
install-sh
libtool
missing
